* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html, body { 
  height: 100%;
  /* background-color: #181818; */
  background-image: linear-gradient(#100f0d, #100f0d, #1b1b1b, #100f0d, #100f0d);
}

body > footer {
  position: sticky;
  top: 100vh;
}

header {
  background-color: #100f0d;
  height: 5vw;
  position: relative;
}

.logo {
  height: 5vw;
  width: auto;
  position: absolute;
  opacity: .9;
}

.title {
  color: #f4f4f4;
  text-align: center;
  font-size: 2.5rem;
  padding-top: 1vw;
  opacity: .9;
}

main {
  /* min-height: calc(100vh - 16.35vw); */
  padding: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 3vw;
  row-gap: 3vw;
  /* background-image: linear-gradient(#100f0d, #1b1b1b, #100f0d); */
}

.card {
  background-color: #100f0d;
  min-width: 25vw;
  height: 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2vw;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.1);
}

.card__text {
  color: #f4f4f4;
  opacity: .9;
  margin-bottom: 2vw;
  font-size: 1.3rem;
}

.card__links {
  display: flex;
  gap: 3vw;
}

.card__link {
  color: #f4f4f4;
  opacity: .9;
  text-decoration: underline;
  margin-bottom: 0.7vw;
  font-size: 1.1rem;
}

footer {
  background-color: #100f0d;
  padding: 1.5vw 0;
}

.footer__text {
  color: #f4f4f4;
  text-align: center;
  font-size: 2rem;
  opacity: .9;
}